.calendar-table {
    width: 100%;
    border-collapse: collapse;
}
.calendar-table th, .calendar-table td {
    border: 1px solid #000;
    width: 14.28%;
    height: 100px;
    text-align: center;
    vertical-align: top;
}
.empty {
    background-color: #ddd;
}